.main_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  overflow-y: overlay;
  margin: -30px;
}

.my_profile_title {
  padding: 40px;
  display: block;
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
  border-bottom: 2px solid #7fffd4;
}

h1 {
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-size: 40px;
}

.my_profile_title p {
  color: white;
  font-size: 20px;
}

.section_container {
  padding: 20px;
  border-bottom: 2px solid #7fffd4;
  display: block;
}

.section_container p {
  font-size: 20px;
}

.button_my_profile {
  border-radius: 6px;
  background: #7fffd4;
  padding: 10px 22px;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-right: 50px;
}

.button_my_profile:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.user_songs_container {
  width: 70%;
  flex: 0.6;
  padding: 38px 90px 38px 90px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.genre_field {
  margin-left: 100px;
  height: 30px;
  width: 100px;
  position: relative;
}

input[type="file"] {
  margin-left: 50px;
  color: white;
}

.submit_button {
  width: 77%;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 6px;
  background: #7fffd4;
  color: black;
}

.submit_button:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
